@import "custom/subclasses";
// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a.text_underline {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.4;
}
p {
  margin-bottom: 0;
}

.section {
  padding: 4rem 0;
}

// utilities

.container {
  margin-inline: 2rem;
}
.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;

  &.alt {
    .left {
      order: 2;
    }

    .right {
      order: 1;
    }
  }
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.responsive_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;

  &.sponsors {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
    place-items: center;
    overflow-x: hidden;
    img {
      transition: all 0.5s ease-in-out;
      max-width: 150px !important;
    }
    img:hover {
      transform: scale(1.5);
    }
  }
}

.q-btn {
  min-height: auto;
  // text-transform: capitalize;
  &::before {
    box-shadow: none;
  }
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  img {
    max-width: 100px;
    object-fit: contain;
  }
}

.splide__track {
  padding: 3rem 0;
}

.splide {
  overflow: hidden;

  .splide__arrow {
    bottom: 0;
    background: #28a745;
    color: white;
  }
  .splide__arrow--next {
    right: -0%;
    bottom: 0;
  }
  .splide__arrow svg {
    fill: #fff;
    height: 1.2em;
    width: 1.2em;
  }
  .splide__arrow--prev {
    left: unset;
    right: 9%;
    bottom: 0;
  }
  .splide__arrow {
    top: 90%;
  }

  .splide__pagination__page {
    width: 40px;
    border-radius: 1rem;

    &.is-active {
      background: #28a745;
    }
  }
}

.q-badge {
  &.new {
    background: rgba(40, 167, 69, 0.2);
    color: #28a745;
    font-weight: 700;
  }
  &.refurbished {
    background: rgba(0, 123, 255, 0.2);
    color: #007bff;
    font-weight: 700;
  }
  &.used {
    background: rgba(253, 126, 20, 0.2);
    color: #fd7e14;
    font-weight: 700;
  }
  &.open_box {
    background: rgba(111, 66, 193, 0.2);
    color: #6f42c1;
    font-weight: 700;
  }
  &.damaged {
    background: rgba(220, 53, 69, 0.2);
    color: #dc3545;
    font-weight: 700;
  }
}
.links_left {
  position: sticky;
  top: 5%;
}
.input_wrap {
  input,
  select,
  textarea {
    border: none;
    background: transparent;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  .input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid #ffffff;
    background: #ffffff;
    border-radius: 120px;
    padding: 0.3rem 1rem;
  }
}

// sections
header {
  position: absolute;
  width: 100%;
  z-index: 2;
  a {
    color: white;
    font-weight: 700;
    font-size: 14px;
  }
}
.hero {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("/images/hero.png") no-repeat center top/cover;
  background-attachment: fixed;
  padding-top: 3rem;
  position: relative;

  &.donate {
    background: url("/images/donate.jpg") no-repeat center top/cover;
    background-attachment: fixed;
  }
  &.bio {
    background: url("/images/biom.jpg") no-repeat center top/cover;
    background-attachment: fixed;
  }
  &::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .container {
    position: relative;
    z-index: 10;
  }
  h1 {
    max-width: 700px;
    color: white;
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.3;
  }
  p {
    font-weight: 600;
    margin-top: 3rem;
  }

  .hero_btns {
    .q-btn.btnsx {
      width: 100px;
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        align-items: flex-start;
        width: 80px;
        justify-content: flex-start;
      }
    }
  }

  .input_wrap {
    max-width: 500px;
    .input {
      padding-right: 0.5rem;

      .q-btn {
        padding: 0.5rem 1rem;
      }
    }
  }
}
.new_products {
  .responsive_grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.add_border {
  border: 2px solid green;
  border-radius: 5px;
  padding: 0.75rem;
}
.product_card {
  max-width: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  min-height: 550px;

  border-radius: 10px;
  .cat_text {
    font-size: 10px;
    // line-height: 1;
  }
  .content {
    .text-h6 {
      line-height: 1.4;
    }
  }
  img {
    width: 100%;
    border-radius: 10px;
  }

  .main {
    img {
      height: 200px;
      object-fit: cover;
    }
  }
}
.sponsors {
  .responsive_grid {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 1rem;
    align-items: center;

    img {
      max-width: 150px;
    }
  }
}
.q-btn-dropdown--simple * + .q-btn-dropdown__arrow {
  margin-left: 0;
}
.footer {
  background: linear-gradient(180deg, #111314 0%, #0e1e5e 100%);
  border: 1px solid #ffffff;
  position: relative;
  padding: 3rem;
  p {
    max-width: 500px;
  }
  &::before {
    content: "";
    background: url("/images/footerbg.svg");
    bottom: 0;
    width: 100%;
  }
}
.reviews_list {
  max-width: 700px;
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  justify-content: center;
  gap: 1rem;
}

.empty img {
  width: 106px;
  height: 106px;
}

.empty_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #9a9a9a;
}
.sort_area {
  flex-wrap: wrap;
  gap: 1rem;
}

.sort_area .active {
  white-space: nowrap;
}

.sort_area .left::-webkit-scrollbar {
  display: none;
}

.sort_area .q-btn {
  text-transform: capitalize;
}
.about {
  .hero {
    background: url("/images/donatebg.jpg");
  }
}
.about_us {
  max-width: 1000px;
  margin: 0 auto;
  h4 {
    font-weight: 700;
  }
  .card {
    background: #b7a3c8;
    padding: 1rem;
    img {
      max-width: 100px;
      object-fit: contain;
    }
    ul li {
      list-style: disc;
    }
  }
}

@media (min-width: 1100px) {
  .stores_wrap {
    grid-template-columns: repeat(3, 1fr);
  }
  .responsive_grid {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (min-width: 1300px) {
  .new_products {
    .responsive_grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}
@media (min-width: 1300px) {
  .responsive_grid {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .explore_wrapper {
    .responsive_grid {
      grid-template-columns: repeat(3, 1fr) !important;
    }
  }
}
@media (max-width: 1100px) {
  .text-h3 {
    font-size: 2.3rem;
    line-height: 1.2;
  }
  .hero {
    .q-btn {
      padding: 0.2rem 0.7rem;
      font-size: 12px;
    }
    .row.justify-end.q-mt-xl {
      margin-top: 1rem;
    }
  }
  .hero h1 {
    font-size: 1.5rem;
    max-width: 500px;
  }
  header {
    a {
      font-size: 13px;
    }

    .nav_wrap {
      gap: 0.5rem !important;
    }
  }
  .input_wrap .input {
    padding: 0.1rem 1rem;
  }
}

@media (max-width: 600px) {
  .q-bottom-sheet--grid .q-icon,
  .q-bottom-sheet--grid img,
  .q-bottom-sheet--grid .q-bottom-sheet__empty-icon {
    font-size: 28px;
    width: 38px;
    height: 38px;
    margin-bottom: 8px;
  }
  .q-bottom-sheet__item {
    div {
      font-size: 14px;
      line-height: 1.3;
    }
  }
  header a {
    font-size: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  .top_nav .container .middle {
    gap: 0;
  }
  .header .down_nav {
    padding: 0;
  }
  .container {
    margin-inline: 1rem;
  }
  .text-h3 {
    font-size: 1.6rem;
    line-height: 1.2;
  }

  .logo {
    img {
      width: 80px;
    }
  }

  .new_products .responsive_grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .hero {
    height: 55vh;
    .q-btn {
      padding: 0.2rem 0.7rem;
      font-size: 10px;
    }
  }
  .hero h1 {
    font-size: 1.2rem;
  }
  .nav_wrap {
    gap: 0.5rem !important;
    flex-wrap: wrap;
  }
  .small_container {
    width: 95%;
    padding: 0.5rem;
  }
  .auth .input_wrap .input {
    padding: 0.6rem;
  }
  .footer {
    padding: 3rem 1rem;
  }
  .auth {
    margin-top: 1rem;
  }
  .header .top_nav {
    padding: 0.5rem 0;
  }
  .container {
    margin-inline: auto !important;
  }
  .hero {
    background: url("/images/hero.png") no-repeat 80% center / cover;
    .q-mt-lg.row.nav_wrap.items-center.no-wrap {
      margin-top: 1rem;
    }
    .row.justify-end.q-mt-xl {
      margin-top: 0.5rem;
    }
    .input_wrap .input {
      font-size: 10px;
      padding: 0.1rem 1rem;
      padding-right: 0.5rem;
      input {
        font-size: 10px;
      }
    }
  }

  .donate_card {
    .text-h5 {
      font-size: 14px;
      line-height: 1.3;
    }

    img {
      max-width: 80px !important;
    }
  }
  .hero.donate {
    p {
      margin-top: 0;
    }
  }

  .sponsors {
    .responsive_grid {
      margin-top: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
      img {
        max-width: 100px;
      }
    }
  }
}
